extends layout

block content
  h1= title

  form(id='loungeForm', action="/resource/resource/lounges/", method="POST")
    div.form-group
        label.costumeAttr(for='loungename') loungename
        input#costumetype(type='text', name='loungename')
    div.form-group
        label.costumeAttr(for='lounge_location') lounge_location
        input#size(type='text', name='lounge_location')
    div.form-group
        label.costumeAttr(for='lounge_capacity') lounge_capacity
        input#cost(type='number', name='lounge_capacity')
    input(type="submit")

  script.
    document.forms['loungeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });


